strong {
  font-weight: 800;
}

.gatsby-highlight-code-line {
  background-color: #feb;
  display: block;
  margin-right: -1em;
  margin-left: -0.95em;
  padding-right: 1em;
  padding-left: 0.95em;
}

/**
 * Add back the container background-color, border-radius, padding, margin
 * and overflow that we removed from <pre>.
 */
.gatsby-highlight {
  overflow: auto;
  margin-bottom: 1.5rem;
  font-size: 0.75rem;
}

p + .gatsby-highlight {
  margin-top: -1rem;
}

/**
 * Remove the default PrismJS theme background-color, border-radius, margin,
 * padding and overflow.
 * 1. Make the element just wide enough to fit its content.
 * 2. Always fill the visible space in .gatsby-highlight.
 */
.gatsby-highlight pre[class*='language-'] {
  background-color: transparent;
  margin: 0;
  padding: 0;
  overflow: initial;
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}

pre[class*='language-'] > code {
  border-left: 0.25rem solid #b34546;
  box-shadow: -1px 0px 0px 0px #b7b6b3, 0px 0px 0px 1px #b34546;
}

.image-50 {
  width: 50%;
}

.visually-hidden {
  border: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/** Specific */
html, .bg {
  background-color: #eeeeee;
}

.footnotes p {
  margin: 0;
  padding: 0;
}

figcaption {
  text-align:center;
  font-size: 0.8rem;
  color:gray;
}

.header {
  background-color: white;
}

.header .menu li {
  float: right;
  display: inline-block;
}

.header .menu li a {
  padding: 0 1rem;
  vertical-align: text-top;
}

a {
  display: inline-block;
  text-decoration: none;
  box-shadow: none;
  color: #666666;
  font-weight: 700;
}

a span {
  position: relative;
  background-color: white;
}

a span:after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  content: '';
  height: 3px;
  width: 100%;
  background-color: #000000;
  transition: opacity 0.2s, transform 0.2s;
  transform: translateY(20px);
  opacity: 0;
}

a:hover,
a.active {
  color: black;
}

a:hover > span:not(.gatsby-resp-image-wrapper):after,
a.active > span:not(.gatsby-resp-image-wrapper):after {
  transform: translateY(10px);
  opacity: 1;
}

.content {
  background-color: white;
}

.footer {
  background-color: white;
}

.startButton {
  display: block;
  text-align: center;
}

.startButton a {
  display: inline-block;
  padding: 1rem 2rem;
  margin: 1rem auto;
  border: 2px solid black;
  cursor: pointer;
  color: black;
}

.startButton a:hover,
.startButton a:focus,
.startButton a:active {
  background: linear-gradient(
      124deg,
      #ff2400,
      #e81d1d,
      #e8b71d,
      #e3e81d,
      #1de840,
      #1ddde8,
      #2b1de8,
      #dd00f3,
      #dd00f3,
      #ff2400,
      #e81d1d,
      #e8b71d,
      #e3e81d,
      #1de840,
      #1ddde8
  );
  /*background: linear-gradient(124deg, #ff4b80, #d67800, #a68f00, #719d00, #00a566, #00a195, #009eb7, #2091ff, #c761ff, #ff2cd4, #ff4b80, #d67800, #a68f00, #719d00, #00a566, #00a195, #009eb7, #2091ff);*/
  background-size: 1800% 1800%;
  animation: rainbow 4s linear infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  100% {
    background-position: 100% 19%;
  }
}

.titleImg:not(:hover) path {
  fill: #000000;
  stroke: #00000000;
  stroke-width: 0;
  stroke-dasharray: 500;
  stroke-dashoffset: 1000;
  animation: dash 2s ease;
  animation-delay: -0.3s;
  transition: stroke-dashoffset 2s ease, stroke-width 2s ease;
}

.titleImg:hover path {
  fill: #eeeeee;
  stroke: black;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  stroke-width: 1;
  transition: stroke-dashoffset 2s ease;
}

@keyframes dash {
  0% {
    stroke-width: 1;
    fill: #eeeeee;
    stroke: #00000000;
    stroke-dashoffset: 500;
  }
  50% {
    stroke-width: 1;
    stroke-dashoffset: 1000;
    fill: #eeeeee;
    stroke: black;
  }
  100% {
    fill: #000000;
    stroke-width: 0;
    stroke-dashoffset: 1000;
  }
}

@media only screen and (max-width: 460px) {
  .titleImg {
    width: 70px;
  }
}
